.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;

}

.form-group label {
  margin-right: 10px;
  font-weight: bold;
  
}

.form-group input {
  width: 75%;

}

.btn-submit {
  width: 25%;
  margin: 0 auto;
  background-color:lime;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 2px black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
